body{
    margin: 0;
    background: rgb(26, 25, 25);
    
}
.header1{ /*cabeçalho do site */
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.Nome{ /*Nome do professor */
    color: black;
    margin-left: 120px;
    font-size: 25px;
}
section {/*âncoras(Inicio, Sobre, Resultados, Contato)*/
  scroll-margin-top: 100px;
}
html{/*faz subir e descer de forma mais suave*/
    scroll-behavior: smooth;
}
#sobre{/*configuração especifica para o link #Sobre*/
    scroll-margin-top: 50px;
}
.links-top{ /* Links do cabeçalho(Inicio, Sobre, Resultados, Contato) */
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}
.links{/*div - Links do cabeçalho(Inicio, Sobre, Resultados, Contato)*/
    margin-left: 300px;
    margin-top: 40px;
}
.links-top:hover{
    text-decoration: underline;
}
main{
    margin-top: 100px;
}
.header2{ /*header dentro do main*/
    color: white;
    display: flex;
     background:
        radial-gradient(circle at 15% 70%, #2a005f 0%, transparent 40%),
        radial-gradient(circle at 70% 20%, #3b008f 0%, transparent 40%),
        radial-gradient(circle at 85% 60%, #8a00ff 0%, transparent 45%),
        radial-gradient(circle at 50% 50%, #150030 0%, #000 70%);
    height: 200px;
    padding-right: 100px;
    padding-bottom: 350px;
}
.praticas{/*Algumas práticas do curso*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 50;
    font-style: normal;
    color: rgb(255, 255, 255);
    width: 400px;
    padding-left: 20px;
    padding-right: 5px;
}
.botao1{/*Botão ('Quero tirar 900+')*/
    display: inline-block;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    box-shadow: 0 0 40px 5px rgb(32, 109, 197);
    border-radius: 20px;
    padding: 10px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 10;
    font-style: normal;
    margin-left: 80px;
    transition: transform 0.25s ease;
}
.botao1:hover {/*efeito de zoom*/
  transform: scale(1.1);
}

.img1{/*imagem que está dentro do header 2*/
    border: solid 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    width: 450px;
    height: 450px;
}
.t1{/* div dentro do header2*/ 
    font-size: 30px;
    padding-left: 200px;
    padding-top: 0px;
    width: 500px;
    height: 500px;
}
.caixa1{/*frase dentro do header2*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    width: 600px;
    height: 180px;
    margin-bottom: 0px;
}
span{/*palavras com a letra diferente*/
    font-size: bold;
    color: #8a00ff;
}
.span1{
    text-shadow: #ff00d4;
    background: linear-gradient(to right, #7905c7, #ff00d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alunos{/*article - 'Resultado dos alunos' e fotos*/
    
    color: rgb(255, 255, 255);
    height: 1350px;
}
.resultados{/*'Resultado dos alunos'*/
    margin-left: 125px;
    background: linear-gradient(to right, rgb(141, 0, 207), rgb(106, 0, 255), rgb(26, 25, 25));
    width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}
.carrosel{ /*efeio de carrosel*/
    margin-left: 125px;
    padding-left: 0;
    width: 1180px;
    height: 400px;
    overflow: hidden;
}
.seta {/*setas - direita e esquerda*/
  border-radius: 100%;
  width: 40px;
  background: rgba(140, 0, 255, 0.5);
  bottom: 0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.esquerda {/*seta esquerda*/
  margin-left: 10px;
}
.direita {/*seta direita*/
    margin-left: 91%;
}
.fig1{/*div com as fotos*/
    width: 90%;
    height: 330px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    transition: transform 0.5s ease;
}
.ft1{/*fotos*/
    padding: 7px;
    border-radius: 20px;
    width: 300px;
    height: 325px;
}
.titulo-dep1{/*Titulo dos depoimentos*/
    font-size: 40px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 125px;
    margin-bottom: 0px;
}
.titulo-dep2{/*Subtitulo dos depoimentos*/
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 125px;
    margin-bottom: 0px;
}
.depoimentos-tot{/*Div de depoimentos*/
    width: 1160px;
    display: flex;
    margin-left: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.depoimentos{/*Colunas dos depoimentos*/
    margin-right: 10px;
    width: 290px;
}
.dep{/*Depoimentos separados*/
    text-align: center;
    border: solid;
    border-color: #7905c7;
    background: linear-gradient(to  bottom left, #a608cec9,rgb(26, 25, 25),rgb(26, 25, 25) );
    width: 265px;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}
.vd{/*Vídeo 1*/
    border: solid;
    border-radius: 15px;
    border-color: #7905c7;
    width: 285px;
    height: 350px;
    margin-top: 13px;
}
.vd2{/*Vídeo 2*/
    border: solid;
    border-radius: 15px;
    border-color: #7905c7;
    width: 285px;
    height: 350px;
}
.botao2{/*Segundo botão*/
    display: inline-block;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    box-shadow: 0 0 40px 5px rgb(32, 109, 197);
    border-radius: 40px;
    padding: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 30px;
    margin-left: 600px;
    transition: transform 0.25s ease;
}
.botao2:hover {/*efeito de zoom*/
  transform: scale(1.1);
}
.section1{/*Quadrado que fala sobre o professor com a imagem dele */
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background:
    radial-gradient(circle at top left, #3333ff86 0%, transparent 60%),
    radial-gradient(circle at bottom right, #3333ff86 0%, transparent 60%),
#000000;
    margin-top: 150px;
    margin-left: 130px;
    padding-left: 20px;
    width: 1120px;
    height: 500px;
}
.section1::before {/* borda com degrade*/
    content: "";/*Obrigatório para o pseudo-elemento aparecer.*/
    position: absolute;
    inset: 0;
    padding: 4px; /*espessura da borda*/
    border-radius: 15px;
    background: linear-gradient(to bottom right, #ff00cc, #3333ff);
    -webkit-mask:/*Cria uma máscara (como um recorte invisível)*/ 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;/*Diz para remover a área interna da máscara*/
        mask-composite: exclude;/*Versão padrão moderna da mesma ideia*/
}
.txt_professor{/*Texto Falando do Professor*/
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    width: 700px;
    
}
.txt_professor h2{
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
}
.txt_professor p{
    
}
.ftprof{/*imagen do professor*/
    margin-left: 100px;
}
.whatsapp-btn {/*botão fixado que leva para o WhatsApp*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to bottom right, #ff00cc, #3333ff);
  color: white;
  padding: 0px 4px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
  animation: pulse 2s infinite;
}
@keyframes pulse {
        0% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7); }
        70% { box-shadow: 0 0 0 15px rgba(37, 211, 102, 0); }
}
.imgw{/*Logo do Whats*/
    width: 60px;
}