body{
    margin: 0;
    background-color: rgb(26, 25, 25);
}
.header1{ /*cabeçalho do site */
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.Nome{ /*Nome do professor */
    color: black;
    margin-left: 120px;
    font-size: 25px;
}

section {
  scroll-margin-top: 100px;
}
#sobre{
    scroll-margin-top: 50px;
}
a{ /* Links do cabeçalho(Inicio, Sobre, Resultados, Contato) */
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}
.links{/*div - Links do cabeçalho(Inicio, Sobre, Resultados, Contato)*/
    margin-left: 300px;
    margin-top: 40px;
}
a:hover{
    text-decoration: underline;
}
main{
    margin-top: 100px;
}
.header2{ /*header dentro do main*/
    color: white;
    display: flex;
     background:
        radial-gradient(circle at 15% 70%, #2a005f 0%, transparent 40%),
        radial-gradient(circle at 70% 20%, #3b008f 0%, transparent 40%),
        radial-gradient(circle at 85% 60%, #8a00ff 0%, transparent 45%),
        radial-gradient(circle at 50% 50%, #150030 0%, #000 70%);
    height: 200px;
    padding-right: 100px;
    padding-bottom: 350px;
}
.img1{/*imagem que está dentro do header 2*/
    border: solid 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    width: 450px;
    height: 450px;
}
.t1{/* div dentro do header2*/ 
    font-size: 30px;
    padding-left: 200px;
    padding-top: 80px;
    width: 500px;
    height: 400px;
}
.caixa1{/*frase dentro do header2*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    border-radius: 15px;
    width: 600px;
    height: 300px;
}
span{/*palavras com a letra diferente*/
    font-size: bold;
    color: #ae00ff;
}
.alunos{/*article - 'Resultado dos alunos' e fotos*/
    color: rgb(255, 255, 255);
    height: 550px;
}
.resultados{/*'Resultado dos alunos'*/
    margin-left: 125px;
    background: linear-gradient(to right, rgb(141, 0, 207), rgb(106, 0, 255), rgb(26, 25, 25));
    width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}
.carrosel{ /*efeio de carrosel*/
    margin-left: 125px;
    padding-left: 0;
    width: 1210px;
    height: 400px;
    overflow: hidden;
}
.seta {/*setas - direita e esquerda*/
  border-radius: 100%;
  width: 40px;
  background: rgba(140, 0, 255, 0.5);
  bottom: 0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.esquerda {/*seta esquerda*/
  margin-left: 10px;
}
.direita {/*seta direita*/
    margin-left: 91%;
}
.fig1{/*div com as fotos*/
    width: 90%;
    height: 330px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    transition: transform 0.5s ease;
}
.ft1{/*fotos*/
    padding: 7px;
    border-radius: 20px;
    width: 300px;
    height: 325px;
}
.section1{/*Quadrado que fala sobre o professor com a imagem dele */
    
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background: radial-gradient(circle at center, #1a0033 0%, #000000 70%);   
    margin-left: 160px;
    margin-top: 90px;
    padding-left: 20px;
    width: 1100px;
}
.section1::before {/* borda com degrade*/
    content: "";/*Obrigatório para o pseudo-elemento aparecer.*/
    position: absolute;
    inset: 0;
    padding: 4px; /*espessura da borda*/
    border-radius: 15px;
    background: linear-gradient(to bottom right, #ff00cc, #3333ff);
    -webkit-mask:/*Cria uma máscara (como um recorte invisível)*/ 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;/*Diz para remover a área interna da máscara*/
        mask-composite: exclude;/*Versão padrão moderna da mesma ideia*/
}
.txt_professor{/*Texto Falando do Professor*//**/
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.ftprof{
    margin-left: 170px;
}
.praticas{/*Algumas práticas do curso*/
    color: white;
}