@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    background: rgb(26, 25, 25);
}
.header1{ /*cabeçalho do site */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.Nome{ /*Nome do professor */
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-left: 123px;
    margin-top: 35px;
    font-size: 30px;
}
section {/*âncoras(Inicio, Sobre, Resultados, Contato)*/
  scroll-margin-top: 100px;
}
html{/*faz subir e descer de forma mais suave*/
    scroll-behavior: smooth;
}
#sobre{/*configuração especifica para o link #Sobre*/
    scroll-margin-top: 50px;
}
.links-top{ /* Links do cabeçalho(Inicio, Sobre, Resultados, Contato) */
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}
.links{/*div - Links do cabeçalho(Inicio, Sobre, Resultados, Contato)*/
    margin-left: 300px;
    margin-top: 40px;
}
.links-top:hover{
    text-decoration: underline;
}
main{
    padding-left: 8%;
    margin-top: 100px;
}
.header2{ /*header dentro do main*/
    color: white;
    display: flex;
     background:
        radial-gradient(circle at 15% 70%, #2a005f 0%, transparent 40%),
        radial-gradient(circle at 70% 20%, #3b008f 0%, transparent 40%),
        radial-gradient(circle at 85% 60%, #8a00ff 0%, transparent 45%),
        radial-gradient(circle at 50% 50%, #150030 0%, #000 70%);
    height: 100%;
    padding-right: 100px;
    padding-bottom: 70px;
    margin-top: 100px;
}
.praticas{/*Algumas práticas do curso*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 50;
    font-style: normal;
    color: rgb(255, 255, 255);
    width: 400px;
    padding-right: 5px;
}
.botao1{/*Botão ('Quero tirar 900+')*/
    display: inline-block;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    box-shadow: 0 0 40px 5px rgb(32, 109, 197);
    border-radius: 20px;
    padding: 10px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 10;
    font-style: normal;
    margin-left: 80px;
    transition: transform 0.25s ease;
}
.botao1:hover {/*efeito de zoom*/
  transform: scale(1.1);
}
.img1{/*imagem que está dentro do header 2*/
    border: solid 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    width: 450px;
    height: 450px;
}
.t1{/* div dentro do header2*/ 
    font-size: 30px;
    margin-left: 125px;
    padding-top: 0px;
    width: 500px;
    height: 500px;
}
.caixa1{/*frase dentro do header2*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 600px;
    height: 180px;
    margin-bottom: 0px;
}
.roxo{/*palavras com a letra diferente*/
    font-size: bold;
    color: #8a00ff;
}
.span1{
    text-shadow: #ff00d4;
    background: linear-gradient(to right, #7905c7, #ff00d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alunos{/*article - 'Resultado dos alunos' e fotos*/
    color: rgb(255, 255, 255);
    height: 1350px;
}
.resultados{/*'Resultado dos alunos'*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, rgb(141, 0, 207), rgb(106, 0, 255), rgb(26, 25, 25));
    width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}
.carrosel{ /*efeio de carrosel*/
    
    padding-left: 0;
    width: 85%;
    height: 400px;
    overflow: hidden;
}
.seta {/*setas - direita e esquerda*/
  border-radius: 100%;
  width: 40px;
  background: rgba(140, 0, 255, 0.5);
  bottom: 0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.esquerda {/*seta esquerda*/
  margin-left: 10px;
}
.direita {/*seta direita*/
    margin-left: 91%;
}
.fig1{/*div com as fotos*/
    width: 90%;
    height: 330px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    transition: transform 0.5s ease;
}
.ft1{/*fotos*/
    padding: 7px;
    border-radius: 20px;
    width: 300px;
    height: 325px;
}
.titulo-dep1{/*Titulo dos depoimentos*/
    font-size: 40px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 0px;
}
.titulo-dep2{/*Subtitulo dos depoimentos*/
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 0px;
}
.depoimentos-tot{/*Div de depoimentos*/
    
    width: 87%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.depoimentos{/*Colunas dos depoimentos*/
    margin-right: 10px;
    width: 290px;
}
.dep{/*Depoimentos separados*/
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border: solid;
    border-color: #7905c7;
    background: linear-gradient(to  bottom left, #a608cec9,rgb(26, 25, 25),rgb(26, 25, 25) );
    width: 92%;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}
.vd{/*Vídeo 1*/
    border: solid;
    border-radius: 15px;
    border-color: #7905c7;
    width: 285px;
    height: 350px;
    margin-top: 13px;
}
.vd2{/*Vídeo 2*/
    border: solid;
    border-radius: 15px;
    border-color: #7905c7;
    width: 285px;
    height: 350px;
}
.botao2{/*Segundo botão*/
    display: inline-block;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    box-shadow: 0 0 40px 5px rgb(32, 109, 197);
    border-radius: 40px;
    padding: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 30px;
    margin-left: 35%;
    transition: transform 0.25s ease;
}
.botao2:hover {/*efeito de zoom*/
  transform: scale(1.1);
}
.section1{/*Quadrado que fala sobre o professor com a imagem dele */
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background:
    radial-gradient(circle at top left, #3333ff86 0%, transparent 60%),
    radial-gradient(circle at bottom right, #3333ff86 0%, transparent 60%),
#000000;
    margin-top: 13%;
    padding-left: 20px;
    width: 82%;
    
}
.section1::before {/* borda com degrade*/
    content: "";/*Obrigatório para o pseudo-elemento aparecer.*/
    position: absolute;
    inset: 0;
    padding: 4px; /*espessura da borda*/
    border-radius: 15px;
    background: linear-gradient(to bottom right, #ff00cc, #3333ff);
    -webkit-mask:/*Cria uma máscara (como um recorte invisível)*/ 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;/*Diz para remover a área interna da máscara*/
        mask-composite: exclude;/*Versão padrão moderna da mesma ideia*/
}
.txt_professor{/*Texto Falando do Professor*/
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    width: 700px;
}
.txt_professor h2{
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
}
.txt_professor p{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.ftprof{/*imagen do professor*/
    margin-left: 100px;
}
.botao3{
    display: inline-block;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    box-shadow: 0 0 40px 5px rgb(32, 109, 197);
    border-radius: 40px;
    padding: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 30px;
    margin-left: 35%;
    transition: transform 0.25s ease;
    margin-bottom: 30px;
}
.botao3:hover {/*efeito de zoom*/
  transform: scale(1.1);
}
.whatsapp-btn {/*botão fixado que leva para o WhatsApp*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to bottom right, #ff00cc, #3333ff);
  color: white;
  padding: 0px 4px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
  animation: pulse 2s infinite;
}
@keyframes pulse {
        0% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7); }
        70% { box-shadow: 0 0 0 15px rgba(37, 211, 102, 0); }
}
.imgw{/*Logo do Whats*/
    width: 60px;
}
.perguntas-frequentes{/*div com o texto principal, perguntas e respostas*/
    color: white;
    font-size: 2rem;
    margin-bottom: 60px;
    width: 1130px;
    
}
.perguntas-frequentes h1{/*Texto principal*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}
.faq{/*Div com todas as perguntas*/
    padding-left: 0;
    width: 100%;
    list-style: none;
}
.faq li{/*caixa que contem cada pergunta separadamente*/
    width: 100%;
    margin-bottom: 10px;
}
.faq li label{/*configuração dos textos das perguntas*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 15px 10px;
    font-size: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #421a52;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.faq li label span{/*configuração dos números das perguntas*/
    display: inline-block;
    padding: 8px;
    background: linear-gradient(to bottom right, #ff00cc, #3333ff);
    color: white;
    border-radius: 8px;
    margin-right: 10px;
}
.faq li label::before{/*configuração do '+'*/
    content: '+';
    margin-right: 10px;
    font-size: 24px;
}
.faq input[type = radio]{/*Remove a bolina do type radio*/
    display: none;
}
.faq .resposta{/*Configuração da resposta*/
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0 14px;
    border-radius:  0 0 15px 15px;
    background-color: #421a52;
    font-size: 18px;
    line-height: 32px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
}
.faq input[type = radio]:checked + label + .resposta{/*Configuração da resposta quando clicar na pergunta*/
    max-height: 400px;
    padding: 10px 20px;
}
.faq input[type = radio]:checked + label span{/*Configuração do número quando clicar na pergunta*/
    background: linear-gradient(to bottom right, #3333ff, #ff00cc);
}
.faq input[type = radio]:checked + label::before{/*Muda de '+' para '-' quando clicar na pergunta*/
    content: '-';
}
footer{/*rodapé do site*/
    background-color: rgb(255, 255, 255);
    height: 400px;
}
.curso_contato{/*div onde fala do curso e do contato*/
    display: flex;
}
.curso{/*parte do rodapé que fala do curso*/
    margin-left: 125px;
    margin-top: 40px;
    width: 400px;
    font-family: "Fjalla One", sans-serif;/*fonte que está sendo usada*/
    font-weight: 10;
    font-style: normal;
    font-size: 40px;
}
.curso h1{
    font-size: 30px;/*fonto do h1 do curso*/
}
.risco1{/*risco que divide o título do texto*/
    width: 240px;
    padding-left: 0;
    margin-left: 0;
}
.preparacao{/*texto que fala do curso*/
    width: 250px;
    font-family: "Roboto Condensed", sans-serif;/*fonte usada*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.contato{/*Onde vai ficar os contatos do professor*/
    font-size: 20px;
    margin-top: 40px;
}
.contato h2{/*fonte do (h2) do contato*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-left: 5px;
    height: 20px;
}
.contato p{/*fonte do (p) do contato*/
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 10px;
}
.logo_w{/*Div para mexer na parte do WhatsApp*/
    display: flex;
}
.logo_g{/*Div para mexer na parte do Gmail*/
    display: flex;
}
.logo_i{/*Div para mexer na parte do Instagram*/
    display: flex;
}
.logo1{/*Logo do WhatsApp*/
    margin-right: 10px;
    padding-top: 15px;
    padding-left: 5px;
    width: 30px;
    height: 30px;
}
.logo2{/*Logo do Gmail*/
    margin-right: 10px;
    padding-top: 15px;
    width: 40px;
    height: 40px;
}
.logo3{/*Logo do Instagram*/
    margin-right: 10px;
    padding-top: 15px;
    width: 40px;
    height: 40px;
}
.aprovados{/*parte que fala sobre as aprovações no rodapé*/
    font-family: "Fjalla One", sans-serif;/*fonte usada*/
    font-weight: 100;
    font-style: normal;
    text-align: center;
}
.final{/*ultima parte do site*/
    font-family: "Roboto Condensed", sans-serif;/*fonte usada*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
/*Responsivo*/
@media screen and (max-width: 1020px) {
    
    .Nome{
        margin-left: 30px;
        
    }
    .links-top{
        margin-left: 20px;
        font-size: 30px;
        
    }
    .links{
        margin-left: 50px;
    }
    .header2{
        flex-direction: column;
        text-align: center;
    
    }
    .praticas{
        display: block;
        text-align: left;
        margin-left: 50px;
    }
    
    main{
        padding-left: 40px;
    }
    .carrosel{
        width: 95%;
    }
    .direita{
        margin-left: 86%;
    }
    .titulo-dep1{
        font-size: 35px;
    }
    .titulo-dep2{
        font-size: 15px;
    }
    .depoimentos-tot{
        width: 95%;
    }

    .section1{
        margin-top: 20%;
        flex-direction: column;
        text-align: center;
        width: 90%;
    }
    .txt_professor{
        width: 96%;
    }
    .ftprof{
        margin-left: 200px;
        width: 650px;
        height: 700px;
    }
    .faq{
    width: 90%;
    
    }

}