body{
    margin: 0;
    background-color: rgb(26, 25, 25);
}
.header1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: flex-start;
    
}
a{
    
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    
    margin: 10px;
}
a:hover{
    text-decoration: underline;
}
.Nome{
    color: black;
    margin-left: 100px;
    font-size: 25px;
}
.header2{
    color: white;
    display: flex;
     
     background:
        radial-gradient(circle at 15% 70%, #2a005f 0%, transparent 40%),
        radial-gradient(circle at 70% 20%, #3b008f 0%, transparent 40%),
        radial-gradient(circle at 85% 60%, #8a00ff 0%, transparent 45%),
        radial-gradient(circle at 50% 50%, #150030 0%, #000 70%);
    
    
    height: 200px;
    
    padding-right: 100px;
    padding-bottom: 350px;
}
.img1{
    
    border: solid 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    width: 450px;
    height: 450px;
}
.t1{
    
    
    font-size: 30px;
    padding-left: 200px;
    padding-top: 80px;
    width: 500px;
    height: 400px;
}
.caixa1{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    border-radius: 15px;
    width: 600px;
    height: 300px;
}
span{
    font-size: bold;
    color: #ae00ff;
}

section{
    color: white;
}
article{
    color: rgb(255, 255, 255);
}
.links{
    margin-left: 300px;
    margin-top: 40px;
}
.box {
     padding-left: 90px;
     width: 1000px;
     margin-top: 20px;
     margin-left: 110px;
     height: 100px;
}
main{
    margin-top: 100px;
}
