body{
    margin: 0;
}
.header1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right,#331958, #4703a6, #784092);
    display: flex;
    justify-content: flex-start;
    
}
a{
    
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    
    margin: 10px;
}
a:hover{
    text-decoration: underline;
}
.Nome{
    color: white;
    margin-left: 100px;
    font-size: 25px;
}
.links{
    margin-left: 300px;
    margin-top: 40px;
}
.box {
     padding-left: 90px;
     width: 1000px;
     margin-top: 20px;
     margin-left: 110px;
     height: 100px;
}
main{
    margin-top: 100px;
}
 .carrossel {
    position: relative;
    width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.imagens {
    margin: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.imagens img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
