body{
    margin: 0;
}
.header1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right,#341c55, #7f2fee, #d380fa);
    display: flex;
    justify-content: flex-start;
    
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    transition: 0.3s;
}
a:hover{
    transform: scale(1.05);
}
.Nome{
    margin-left: 100px;
    font-size: 25px;
}
.links{
    margin-left: 300px;
    margin-top: 40px;
}
.box {
     padding-left: 90px;
     width: 1000px;
     margin-top: 20px;
     margin-left: 110px;
     height: 100px;
}
main{
    margin-top: 100px;
}
 